.githubfinde {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 8px
}

.input-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.input-wrapper input {
    padding: 12px;
    font-size: 16px;
    border: none;
}

.input-wrapper button {
    padding: 5px 12px;
    border: none;
    border-radius: 8px;
    background-color: aqua;
    color: #78000079;
}

.user {
    padding: 15px;
    border-radius: 10px border 1px solid;
    border: 1px solid;
}

.avata {
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}